// _layout.scss

.layout-container {

}

.content-container {
  min-height: 100vh;
  padding-bottom: 60px;
  background-image: linear-gradient(transparent 0%, 20%, #FFFFFFEE 30%, 80%, #FFFFFFCC 100%);
}

.children-container {
  h1 {
    color: $primary-saturated;
    margin-bottom: 30px;
    font: 3rem sans-serif;
  }
}

div.full-height {
  min-height: 100vh;
}

a.link-no-style {
  &:hover {
    text-decoration: none;
  }
}
