// _navbar.scss

#site-navbar {

  background-color: $secondary-dark;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  font-size: $menu-font-size;

  .navbar-logo {
    display: inline-block;
    height: 60px;
  }

  .navbar-nav .nav-link {
  	color: $primary-light;
  	border-radius: 5px;
    &:hover {
      color: #EDEDED;
  	 //background-image: linear-gradient($primary-light, transparent, $primary-light);
    }
  }

  .navbar-nav .nav-link.active {
  	color: $primary-saturated;
  }

  .navbar-button {
    font-size: $menu-font-size;
  }

  .navbar-button-modal {
    
  }

  .navbar-toggler {
  	border-color: $primary-light;
  }

}
