// _navbar.scss

#site-navbar {

  background-color: $secondary-dark;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  font-size: 1.4rem;

  .navbar-nav .nav-link {
  	color: $primary-light;
  	border-radius: 5px;
  }

  .navbar-nav .nav-link:hover {
  	background-image: linear-gradient($primary-light, transparent, $primary-light);
  }

  .navbar-nav .nav-link.active {
  	color: $primary-saturated;
  }

  .navbar-toggler {
  	border-color: $primary-light;
  }

}

.navbar-logo {
	display: inline-block;
	height: 60px;
}
